name: Checks

on:
  pull_request:
    types: [synchronize, ready_for_review, opened, reopened]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.11.1]

    steps:
      - name: Checkout to branch
        uses: actions/checkout@v5

      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install

      - name: Lint
        run: yarn lint

  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.11.1]
    steps:
      - name: Checkout to branch
        uses: actions/checkout@v5

      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Tests
        run: yarn test
